<h1>Events</h1>
<%= form_tag events_calendars_path, method: :get do %>
  <%= hidden_field_tag :calendar_id, params[:calendar_id] %>
  <%= label_tag :from %>
  <%= datetime_field_tag :time_min, params[:time_min] %>
  <%= label_tag :to %>
  <%= datetime_field_tag :time_max, params[:time_max] %>
  <%= submit_tag 'Filter' %>
<% end %>
<ul>
  <% @events.items.each do |event| %>
    <li>
      <% attendees = event.attendees.map(&:email).join(', ') if event.attendees %>
      <% date = event.start.date_time || event.start.date.to_date %>
      <%= event.summary %> (<%= time_tag date %>) <%= "- #{attendees}" if attendees %>
    </li>
  <% end %>
</ul>